body{
    margin-bottom: 0;
    background-color: #24005C;
    color: white;
    font-family: Arial, sans-serif;
}


.label {
    width: auto;
    text-align: center;
    display: block;
}


h3{
    margin: 10px 0px;
    padding: 0px 0px;
    display: block ;
    width: 100%;
    text-align: center;
}

#survey-form {
    background-color: #4100A8;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0px 50px 0px;
}

.checkbox {
    text-align: left;
    display: inline-block;
    width: 40%;
    padding:0%;
    margin: 0%;
}

#submit {
    text-align: center;
}

input[type="radio"] {
    display: inline-block;
    text-align: left;
    width: 2%;
    margin: -100px;
    padding: 0px;
}

input[type="checkbox"] {
    display: inline-block;
    width: 20%;
    margin: -50px;

}

.option {
    display: inline-block;
    width: 29%;
    text-align: left;
    padding-left: 10px;
    margin-left: 30px;
    margin-right: 0px;
}

.option-check {
    width: auto;
    display: inline;
    text-align: center;
    margin-left: 100px;
    padding: 10%;
    padding-right: 100px;
    padding-bottom: 40px;
    padding-top: 25px;
}

.title {
    padding-bottom: 10px;
    text-align: center;
}

input[type="submit"] {
    text-align: center;
    display: inline-block;
    width: 80%;
    margin-left: 80px;
    margin-right: auto;
    padding: 3px 3px;
    background-color: aquamarine;
    border-radius: 5px;
}

textarea{
    text-align: center;
    display: inline-block;
    width: 80%;
    margin-left: 78px;
    margin-right: auto;
    margin-bottom: 20px;
}

.title2 {
    padding-bottom: 10px;
    padding-top: 40px;
}

.textbox{
    padding: 5px 50px ;
    text-align: center;
}

#submit:hover {
    background-color: greenyellow;
    cursor: pointer;
}